.profil-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.38);
}

.profil-card__input {
    width: 100%;
    margin: 8px 0;
}

.profil-card {
    width: 680px;
    border-radius: 14px;
    background-color: #e7e6e6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.profil-card__error-username{
    border-radius: 10px;
    background-color: #be1d1d;
    color: white;
    padding: 10px;
}

.profil-card__content {
    width: 60%;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profil-card__title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.54);
}

.profil-card__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.54);
}

.profil-card__footer {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.profil-card__button {
    margin-right: 10px;
}

.profil-card__button--cancel {
    background-color: #4a4a4a;
    color: white;
}

.profil-card__button--validate {
    background-color: #17998c;
    color: white;
}

.profil-card__error {
    border-radius: 10px;
    background-color: #be1d1d;
    color: white;
    padding: 10px;
}

.profil-card__footer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
