<app-header-picture></app-header-picture>
<div class="container">
	<div class="profil-container">
		<div class="profil-card">
			<h2 class="profil-card__title">Profil</h2>
			<div class="profil-card__content">
				<form (ngSubmit)="handleSubmit()" [formGroup]="profilForm">
					<div class="profil-card__error-username" *ngIf="serverErrorMessage">
						{{serverErrorMessage}}
					</div>

					<div formGroupName="passwordGroup">
						<mat-form-field class="profil-card__input">
							<input matInput type="password" placeholder="ancien mot de passe"
								formControlName="oldPassword" [errorStateMatcher]="passwordMatcher">
						</mat-form-field>

						<mat-form-field class="profil-card__input">
							<input matInput type="password" placeholder="nouveau mot de passe"
								formControlName="password" [errorStateMatcher]="passwordMatcher">
							<mat-error *ngIf="passwordCtrl.hasError('pattern') && !passwordCtrl.hasError('required')">
								Le mot de passe doit contenir au moins <strong>8 caractères</strong> dont <strong>une
									minuscule</strong>, <strong>une majuscule</strong> et <strong>un chiffre</strong>.
							</mat-error>
							<mat-error *ngIf="passwordCtrl.hasError('required')">
								Mot de passe <strong>obligatoire</strong>, gros bêta
							</mat-error>
						</mat-form-field>

						<mat-form-field class="profil-card__input">
							<input matInput type="password" placeholder="Confirmez le nouveau mot de passe"
								formControlName="confirmPassword" [errorStateMatcher]="passwordMatcher">
							<mat-error *ngIf="passwordGroup.hasError('notSame')">
								Mot de passe incorrect
							</mat-error>
						</mat-form-field>
					</div>

					<mat-form-field class="profil-card__input">
						<input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
						<mat-error *ngIf="emailCtrl.hasError('required')">
							Email <strong>obligatoire</strong>
						</mat-error>
						<mat-error *ngIf="emailCtrl.hasError('email')">
							Email <strong>invalide</strong>
						</mat-error>
					</mat-form-field>

					<div class="profil-card__footer">
						<button mat-raised-button class="profil-card__button profil-card__button--cancel"
							(click)="toHome()">Annuler</button>
						<button mat-raised-button class="profil-card__button profil-card__button--validate"
							type="submit" [disabled]="profilForm.invalid">Valider</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>