<h2 class="artist__title">Présentation</h2>
<mat-card class="artist__box">
  <img src="../../assets/img/card_temp/dark_fufu.jpg" class="artist__img">
  <div class="artist__box-content">
    <app-rating [rating]="artist.rating" [voteNumber]="artist.voteNumber" class="artist__rating"></app-rating>

    <h2 class="artist__name" *ngIf='!isChangeName'>
      {{artist?.artistName}}
      <div *ngIf='isEditable' (click)='name()'>
        <mat-icon>edit</mat-icon>
      </div>
    </h2>
    <mat-form-field *ngIf='isChangeName' class='artist__name'>
      <input matInput placeholder='{{artist.artistName}}' (change)='changeName($event)'>
    </mat-form-field>

    <div class="artist__short-description" *ngIf='!isChangeShortDescription'>
      {{artist?.shortDescription}}
      <div *ngIf='isEditable' (click)='shortDescription()'>
        <mat-icon>edit</mat-icon>
      </div>
    </div>
    <mat-form-field *ngIf='isChangeShortDescription' class='artist__name'>
      <input matInput placeholder='{{artist.shortDescription}}' (change)='changeShortDescription($event)'>
    </mat-form-field>

    <div class="artist__description" *ngIf='!isChangeLongDescription'>
      {{artist?.longDescription}}
      <div *ngIf='isEditable' (click)='longDescription()'>
        <mat-icon>edit</mat-icon>
      </div>
    </div>
    <mat-form-field *ngIf='isChangeLongDescription' class='artist__name'>
      <input matInput placeholder='{{artist.longDescription}}' (change)='changeLongDescription($event)'>
    </mat-form-field>
  </div>
</mat-card>