@media(min-width: 700.1px) {
    .artist__img {
        height: 245px;
        max-width: 285px;
        width: auto;
        margin-right: 25px;
    }
}

@media(max-width: 700px) {
    .artist__img {
        height: auto;
        width: auto;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
}

.artist__rating {
    position: absolute;
    top: 24px;
    right: 24px;
}

@media(max-width: 700px) {
    .artist__rating {
        position: absolute;
        right: 0;
        top: 0;
    }
    .artist__box-content {
        position: relative;
    }
}

.artist__name {
    margin-top: 0;
}

.artist__short-description {
    font-size: 16px;
}

.artist__description {
    font-size: 14px;
}
