.artist__box {
    border: solid 1px #979797;
    background-color: #fafafa;
    display: flex;
    padding: 24px;
    position: relative;
}

@media(min-width: 700.1px) {
    .artist__img {
        height: 245px;
        max-width: 285px;
        width: auto;
        margin-right: 25px;
    }
}

@media(max-width: 700px) {
    .artist__img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
}

.artist__rating {
    position: absolute;
    top: 24px;
    right: 24px;
}

.artist__box {
    border: solid 1px #979797;
    background-color: #fafafa;
    display: flex;
    padding: 24px;
    position: relative;
}

@media(max-width: 700px) {
    .artist__rating {
        position: absolute;
        right: 0;
        top: 0;
    }
    .artist__box-content {
        position: relative;
    }
}

.artist__name {
    margin-top: 0;
    margin-bottom: 0;
}

.artist__short-description {
    font-size: 16px;
}

.artist__description {
    font-size: 14px;
}

.artist__row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.artist__toggle-button {
    margin-left: 20px;
}
