<div class="card__container">
  <div class="card__grid">
    <div class="card__event-info">
      <div class="card__date">
        <span class="card__date-day">{{dateDay}}</span>
        <span class="card__date-format">{{dateFormat}}</span>
      </div>
      <img src="{{artist?.picture}}" class="card__image">
      <div class="card__artist-info">
        <h2 class="card__artist-info-title">{{artist?.artistName}}</h2>
        <div class="card__artist-adress">
          <mat-icon>mail</mat-icon>
          <span>{{artist?.address}}</span>
        </div>
      </div>
    </div>
    <div class="card__event-status">
      <div class="card__event-status-info">
        <app-rating *ngIf="isArtistDone" [rating]="artist.rating" [voteNumber]="artist.voteNumber"></app-rating>
        <span class="card__event-status-place" *ngIf="!isOwner">{{event.maxConfirmed}} places</span>
        <span class="card__event-status-place" *ngIf="isOwner">{{event.maxConfirmed}} places disponibles</span>
      </div>
      <div class="card__event-validate" *ngIf="isValidate && !isOwner">
        <h2 class="card__event-validate-title">Validation ?</h2>
        <div class="card__event-validate-buttons">
          <button mat-button (click)="handleValidate(false)"><mat-icon class="refuse">clear</mat-icon></button>
          <button mat-button (click)="handleValidate(true)"><mat-icon class="validate">done</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>