<app-header-picture></app-header-picture>
<div class="container">
  <app-artist-presentation *ngIf="isReqArtistDone" [artist]="artist"></app-artist-presentation>
  <h2 class="artist__title">Informations générales</h2>
  <mat-card class="artist__box--info">
    <div>
      <div class="artist__info-line">
        <mat-icon class="artist__info-icon">alternate_email</mat-icon>{{artist?.website}}
      </div>
      <div class="artist__info-line">
        <mat-icon class="artist__info-icon">call</mat-icon>{{artist?.phone}}
      </div>
      <div class="artist__info-line">
        <mat-icon class="artist__info-icon">email</mat-icon>{{artist?.address}}
      </div>
    </div>
    <div>
      <span>Départements acceptés</span>
      <div class="artist__departement-list">
        <mat-chip-list>
          <mat-chip *ngFor="let county of countys">{{county.nom}}</mat-chip>
        </mat-chip-list>
      </div>

    </div>
  </mat-card>
</div>