.container {
    width: 90%;
    max-width: 90%;
}

.artist__info-line {
    display: flex;
    align-items: center;
    margin: 18px;
}

.artist__info-icon {
    margin-right: 15px;
}

@media(min-width: 600.1px){
    .artist__box--info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px){
    .artist__box--info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.artist__departement-list {
    margin-top: 10px;
}