<app-header-picture></app-header-picture>
<div class="container">
  <h2 class="artist__title">Présentation</h2>
  <mat-card class="artist__box">
    <img src="../../assets/img/card_temp/dark_fufu.jpg" class="artist__img">
    <div class="artist__box-content">
      <app-rating *ngIf="isReqArtistDone" [rating]="artist.rating" [voteNumber]="artist?.voteNumber" class="artist__rating"></app-rating>
      <h2 class="artist__name">
        {{artist?.artistName}}
      </h2>
      <p class="artist__short-description">
        {{artist?.shortDescription}}
      </p>
      <p class="artist__description">
        {{artist?.longDescription}}
      </p>
    </div>
  </mat-card>
  <h2 class="artist__title">Informations générales</h2>
  <mat-card class="artist__box--info">
    <div>
      <div class="artist__info-line">
        <mat-icon class="artist__info-icon">alternate_email</mat-icon>{{artist?.website}}
      </div>
      <div class="artist__info-line">
        <mat-icon class="artist__info-icon">call</mat-icon>{{artist?.phone}}
      </div>
      <div class="artist__info-line">
        <mat-icon class="artist__info-icon">email</mat-icon>{{artist?.address}}
      </div>
    </div>
    <div>
      <span>Départements acceptés</span>
      <div class="artist__departement-list">
        <mat-chip-list>
          <mat-chip *ngFor="let county of countys">{{county.nom}}</mat-chip>
        </mat-chip-list>
      </div>

    </div>
  </mat-card>
</div>