<app-header-picture></app-header-picture>

<div class="container">
  <div class="login-container">
    <div class="login-card">
      <h2 class="login-card__title">Formulaire de connexion</h2>
      <div class="login-card__content">
        <form class="example-form" class="login-card__form">
          <mat-form-field class="login-card__input">
            <input matInput placeholder="Identifiant" value="">
          </mat-form-field>
          <mat-form-field class="login-card__input">
            <input matInput placeholder="Password" value="">
          </mat-form-field>
        </form>
        <div class="login-card__footer">
          <button mat-raised-button class="login-card__button login-card__button--cancel">Annuler</button>
          <button mat-raised-button class="login-card__button--validate">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>