.image-placeholder {
  width: 344px;
  height: 304px;
}

.scrim {
  width: 344px;
  height: 140px;
  background-color: rgba(66, 66, 66, 0.9);
}

.Title-goes-here {
  width: 121px;
  height: 32px;
  background-color: #d8d8d8;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #d8d8d8;
}

.Subtitle-here {
  width: 107px;
  height: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #ffffff;
}

.scrim__footer{
  display: flex;
}

.footer-left-top{
  display: flex;
}