<!--<div class="image-placeholder">
  <img src="{{artist.picture}}">
</div>-->

<!--<div class="scrim">
  <h1>
    {{artist.artistName}}
  </h1>
  <h4>
    {{artist.description}}
  </h4>
  <div class="Text-inFrontOf-picture-footer">
    <div class="footer-left">
      <div class="footer-left-top">
        <div>
          <div *ngFor='let star of starsList'>
            <div *ngIf='star == 1'>
              <mat-icon>star</mat-icon>
            </div>
            <mat-icon *ngIf='star == 0.5'>star_half</mat-icon>
            <mat-icon *ngIf='star == 0'>star_border</mat-icon>
          </div>
        </div>
      </div>
      <div class="footer-left-bottom">
        {{artist.voteNumber}}
      </div>
    </div>
    <div class="footer-center">
      <button value="voir"></button>
    </div>
    <div class="footer-right">
      <button value="booker" mat-button></button>
    </div>
  </div>
</div>-->
