<div class="picture">
  <img src="{{artist.picture}}">
</div>

<div class="Text-inFrontOf-picture">
  <h1>
    {{artist.artistName}}
  </h1>
  <h4>
    {{artist.description}}
  </h4>
  <div class="Text-inFrontOf-picture-footer">
    <div class="footer-left">
      <div class="footer-left-top">
        étoiles
      </div>
      <div class="footer-left-bottom">
        note
      </div>
    </div>
    <div class="footer-center">
      <button value="voir"></button>
    </div>
    <div class="footer-right">
      <button value="booker"></button>
    </div>
  </div>
</div>
