<div class='navbar'>
  <h1 class='navbar__title' *ngIf="needTitleWelcomePage()">
    Private ShowCase
  </h1>
  <h1 class='navbar__title' *ngIf="isHome()">
    Artistes<span class="navbar__large"> dans votre département</span>
  </h1>
  <h1 class='navbar__title' *ngIf="artistPage()">
    Fiche Artiste
  </h1>
  <h1 class='navbar__title' *ngIf="isBooking()">
    Créer un évènement
  </h1>
  <!-- If we need a back button-->
  <div class='left' *ngIf='hasReturn()'>
    <button mat-button (click)='navigateToPrevious()'>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <!-- If we need login and register button-->
  <div class='right small' *ngIf='isWelcomeNotAuthenticated()'>
    <button mat-button (click)='clickLogMenu($event)'>
      <mat-icon>menu</mat-icon>
    </button>
    <div class='navbar__button_connect-menu right' *ngIf="visibleLogMenu">
      <button class='navbar__login' (click)='navigateToLogin()' mat-button>
        Connexion
      </button>
      <button class='navbar__register' (click)='navigateToRegister()' mat-button>
        Inscription
      </button>
    </div>
  </div>
  <div class='navbar__button_connect right large' *ngIf='isWelcomeNotAuthenticated()'>
    <button class='navbar__login' (click)='navigateToLogin()' mat-button>
      Connexion
    </button>
    <button class='navbar__register' (click)='navigateToRegister()' mat-button>
      Inscription
    </button>
  </div>
  <!-- If we need left menu and right menu-->

  <div class='left' *ngIf='isHome() || isWelcomeAuthenticated()'>
    <button mat-button (click)='clickHomeUserMenu($event)'>
      <mat-icon>menu</mat-icon>
    </button>
    <app-home-user-menu *ngIf="visibleHomeUserMenu"></app-home-user-menu>
  </div>

  <div class='menu-home-right right' *ngIf='isLogged()'>
    <button mat-button (click)='clickHomeUserSettings($event)'>
      <mat-icon>more_vert</mat-icon>
    </button>
    <app-home-user-settings *ngIf="visibleHomeUserSettings"></app-home-user-settings>
  </div>
</div>


<div class='picture' *ngIf='needPicture()'>
  <img src='../../assets/img/header/banniere.png'>
</div>