.navbar{
    display:flex;
    background-color: #000000;
    color:white;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
}

.left{
    position:absolute;
    left:10px;
    align-self: center;
    cursor: pointer;
    z-index: 1;
}

.right{
    position:absolute;
    right:10px;
    cursor: pointer;
    z-index: 1;
}

.picture{
    width:100%;
}

.picture img{
    background-size: cover;
    width:100%;
}
