<div class='navbar'>
  <h1 class='navbar__title' *ngIf="isWelcome()">
    Private ShowCase
  </h1>
  <h1 class='navbar__title' *ngIf="isHome()">
    Artistes dans votre département
  </h1>
  <!-- If we need a back button-->
  <div class='navbar__button_back left' *ngIf='hasReturn()'>
    <mat-icon (click)='navigateToWelcome()'>arrow_back</mat-icon>
  </div>
  <!-- If we need login and register button-->
  <div class='navbar__button_connect right' *ngIf='isWelcome() && !isAuthenticated'>
    <button class='navbar__login' (click)='navigateToLogin()' mat-button>
      Login
    </button>
    <button class='navbar__register' (click)='navigateToRegister()' mat-button>
      Register
    </button>
  </div>
  <!-- If we need left menu and right menu-->

  <div class='menu-home-left left' *ngIf='isAuthenticated'>
    <button mat-button (click)='clickHomeUserMenu($event)'>
      <mat-icon>menu</mat-icon>
    </button>
    <app-home-user-menu *ngIf="visibleHomeUserMenu"></app-home-user-menu>
  </div>

  <div class='menu-home-right right' *ngIf='isAuthenticated'>
    <button mat-button (click)='clickHomeUserSettings($event)'>
      <mat-icon>more_vert</mat-icon>
    </button>
    <app-home-user-settings *ngIf="visibleHomeUserSettings"></app-home-user-settings>
  </div>
</div>


<div class='picture' *ngIf='needPicture()'>
  <img src='../../assets/img/header/banniere.png'>
</div>