.navbar{
    display:flex;
    background-color: #000000;
    color:white;
    justify-content: center;
    position: relative;
    height: 80px;
}

.left{
    position:absolute;
    left:10px;
    align-self: center;
    cursor: pointer;
}

.right{
    position:absolute;
    right:10px;
    align-self: center;
    cursor: pointer;
}

.picture{
    width:100%;
}

.picture img{
    background-size: cover;
    width:100%;
}
